.footerMenu {
  /* position: fixed;
  left: 0;
  bottom: 0;
  right: 0; */
  /* position: absolute; */
  height: 85px;
  background-color: gray;
  z-index: 1000;
  border: 2px solid black;
  border-radius: 1%;
  position: fixed;
  bottom: 0px;
}

.footerGrid {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.card {
  width: 90%;
  /* max-width: 288px; */
  max-width: 550px;
  /* height: 72vh; */
  border: 2px solid black;
  border-radius: 2%;
  /* background-color: tan; */
  /* aspect-ratio: 1/1.8; */

}

.cardImage {
  height: 45%;
  background-color: white;
}

.cardHeader{
  border-bottom: 2px solid black;
}

.cardOptions {
  border: 2px solid black;
  border-width: 2px 0 2px 0;
  display: flex;
  justify-content: center;
  align-items: stretch

}

.cardBottom {
  margin-top: 5px;
}

.cardBottomDesc {
  padding: 5px;
}

.colorContainer {
  display: flex;
  justify-content: center;
}

.sliderContainer {
  width: 75%;
  margin-top: 5px;
}

.appWrapper {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monsterName ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */
}

.appContainer {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.appContent {
  width: 100vw;
  max-width: 500px;
  border: 2px solid black;
  /* max-height: 100vh;
  min-height: 100vh; */
  display: flex;
  flex-direction: column;
  flex: 1
}

.cardGrid {
  /* height: 64vh; */
  overflow-y: scroll;
  /* flex: 1; */

}

.topNav {
  height: 7vh;
  background-color: rgb(203, 53, 16);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileTop {
      /* height: 15vh; */
        margin-bottom: 2vh;
        margin-top: 2vh;


}

.bottomNav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  border: 1px solid black;
}

.bottomButton {
      display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        border: 1px solid black
}

.buttonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
}

body {
  overscroll-behavior: none;
  overflow: hidden;
}

.searchContainer{
    display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    flex: 1;
}

.cardGridContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
